a:link {
	color: #404040;
}

a:visited {
	color: #404040;
}


.red {
	color: #EE0000;
}

.red a:link {
	color: #EE0000;
}
.red a:visited {
	color: #EE0000;
}

.green {
	color: #00EE00;
}
.green a:link {
	color: #00EE00;
}
.green a:visited {
	color: #00EE00;
}

.blue {
	color: #0000EE;
}
.blue a:link {
	color: #0000EE;
}
.blue a:visited {
	color: #0000EE;
}

.cyan {
	color: #00EEEE;
}
.cyan a:link {
	color: #00EEEE;
}
.cyan a:visited {
	color: #00EEEE;
}

.magenta {
	color: #EE00EE;
}
.magenta a:link {
	color: #EE00EE;
}
.magenta a:visited {
	color: #EE00EE;
}

.yellow {
	color: #EEEE00;
}
.yellow a:link {
	color: #EEEE00;
}
.yellow a:visited {
	color: #EEEE00;
}